body{
    display: flex;
    height: 100vh;
    background-color: darkgrey;
}
img{
    width: 50px;
}
aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 100vh;
    background-color: lightgray;
    border: 1px solid black;
}
a{
    color: #2b2b2b ;
    transition: 0.3s;
}
a:hover{
    color: #2b2bb2 ;
}
.logo{
    align-self: center;
}
.link{
    align-self: flex-end;
}
.user{
    position: absolute;
    align-self: center;
    bottom: 0px;
}